<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/createProduct.css" />
  </head>
  <body>
    <%-include('../partials/header')%>
    <main>
      <div class="form-container">
        <form action="/shop/create" method="POST" enctype="multipart/form-data">
          <div class="input-container">

            <div>
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required />
            </div>

            <div>
              <label for="price">Price:</label>
              <input type="text" id="price" name="price" required />
            </div>

            <div>
              <label for="description">Description:</label>
              <textarea id="description" name="description" required></textarea>
            </div>

            <div>
              <label for="category">Category:</label>
              <select id="category" name="category">
                <option value="" disabled selected>- Select a category -</option>
                <% if (locals.oldData) { %>
                  <% categories.forEach(category => { %>
                    <option 
                      value="<%= category.id %>" 
                      <%= (category.id==oldData.category)?'selected':'' %>>
                      <%=category.category_name %>
                    </option>
                <% }) %>
                <% } else { %>
                  <% categories.forEach(category => { %>
                  <option value="<%= category.id %>"><%=category.category_name %></option>
                  <% }) %>
                <% } %>
              </select>
            </div>

            <div>
              <label for="subcategory">Subcategory:</label>
              <select id="subcategory" name="subcategory">
                <option value="" disabled selected>- Select a subcategory -</option>
                <% if (locals.oldData) { %>
                  <% subcategories.forEach(subcategory => { %>
                    <option 
                      value="<%= subcategory.id %>" 
                      <%= (subcategory.id==oldData.subcategory)?'selected':'' %>>
                      <%=subcategory.subcategory_name %>
                    </option>
                <% }) %>
                <% } else { %>
                  <% subcategories.forEach(subcategory => { %>
                  <option value="<%= subcategory.id %>"><%=subcategory.subcategory_name %></option>
                  <% }) %>
                <% } %>
              </select>
            </div>
            
            <div>
              <label for="brand">Brand:</label>
              <select id="brand" name="brand">
                <option value="" disabled selected>- Select a brand -</option>
                <% if (locals.oldData) { %>
                  <% brands.forEach(brand => { %>
                    <option 
                      value="<%= brand.id %>" 
                      <%= (brand.id==oldData.brand)?'selected':'' %>>
                      <%=brand.brand_name %>
                    </option>
                <% }) %>
                <% } else { %>
                  <% brands.forEach(brand => { %>
                  <option value="<%= brand.id %>"><%=brand.brand_name %></option>
                  <% }) %>
                <% } %>
              </select>
            </div>

            <div>
              <label for="images">Images (up to 3):</label>
              <input
                type="file"
                id="images"
                name="images"
                accept=".png, .jpg, .jpeg"
                multiple
                required
              />
            </div>

            <div>
              <input type="submit" value="Create" />
            </div>
          </div>
        </form>
      </div>
    </main>
    <%-include('../partials/footer')%>
  </body>
</html>
