<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/createProduct.css" />
  </head>
  <body>
    <%-include('../partials/header')%>
    <main>
      <div class="form-container">
        <form method="POST" action="/shop/create" enctype="multipart/form-data" class="createForm">
          <div class="input-container">

            <div class="form-control">
              
              <label for="name">Name:</label>
              
              <input type="text" id="name" name="name" value="<%= locals.oldData && locals.oldData.name ? locals.oldData.name : '' %>"  />

              <span id="nameError"></span>

            </div>

            <% if (locals.errors && errors.name) { %>
              <div class="invalid-value"><%= errors.name.msg %></div>
            <% } %>

            <div class="form-control">
              
              <label for="price">Price:</label>
              
              <input type="text" id="price" name="price" value="<%= locals.oldData && locals.oldData.price ? locals.oldData.price : '' %>"  />
              
              <span id="priceError"></span>

            </div>

            <% if (locals.errors && errors.price) { %>
              <div class="invalid-value"><%= errors.price.msg %></div>
            <% } %>

            <div class="form-control">
              
              <label for="description">Description:</label>
              
              <textarea id="description" name="description" ><%= locals.oldData && locals.oldData.description ? locals.oldData.description : '' %></textarea>
              
              <span id="descriptionError"></span>

            </div>

            <% if (locals.errors && errors.description) { %>
              <div class="invalid-value"><%= errors.description.msg %></div>
            <% } %>

            <div class="form-control">
              
              <label for="category">Category:</label>
              
              <select id="category" name="category">
                
                <option value="" disabled selected>- Select a category -</option>
                
                <% if (locals.oldData) { %>
                  <% categories.forEach(category => { %>
                    
                    <option 
                      value="<%= category.id %>" 
                      <%= ( category.id == oldData.category ) ? 'selected' : '' %>>
                      <%= category.category_name %>
                    </option>

                <% })} else { %>
                  
                  <% categories.forEach(category => { %>
                  <option value="<%= category.id %>"><%=category.category_name %></option>
                  <% })} %>

              </select>
              
              <span id="categoryError"></span>

            </div>

            <% if (locals.errors && errors.category) { %>
              <div class="invalid-value"><%= errors.category.msg %></div>
            <% } %>

            <div class="form-control">
              
              <label for="subcategory">Subcategory:</label>
              
              <select id="subcategory" name="subcategory">
                
                <option value="" disabled selected>- Select a subcategory -</option>
                
                <% if (locals.oldData) { %>
                  <% subcategories.forEach(subcategory => { %>

                    <option 
                      value="<%= subcategory.id %>" 
                      <%= ( subcategory.id == oldData.subcategory ) ? 'selected' : '' %>>
                      <%= subcategory.subcategory_name %>
                    </option>

                <% })} else { %>

                  <% subcategories.forEach(subcategory => { %>
                  <option value="<%= subcategory.id %>"><%=subcategory.subcategory_name %></option>

                  <% })} %>
              </select>

              <span id="subcategoryError"></span>

            </div>

            <% if (locals.errors && errors.subcategory) { %>
              <div class="invalid-value"><%= errors.subcategory.msg %></div>
            <% } %>
            
            <div class="form-control">

              <label for="brand">Brand:</label>

              <select id="brand" name="brand">

                <option value="" disabled selected>- Select a brand -</option>

                <% if (locals.oldData) { %>
                  <% brands.forEach(brand => { %>

                    <option 
                      value="<%= brand.id %>" 
                      <%= ( brand.id == oldData.brand ) ? 'selected' : '' %>>
                      <%=brand.brand_name %>
                    </option>

                <% })} else { %>

                  <% brands.forEach(brand => { %>
                  <option value="<%= brand.id %>"><%=brand.brand_name %></option>

                  <% })} %>
              </select>

              <span id="brandError"></span>

            </div>

            <% if (locals.errors && errors.brand) { %>
              <div class="invalid-value"><%= errors.brand.msg %></div>
            <% } %>

            <div class="form-control">

              <label for="images">Images (up to 3):</label>

              <input
                type="file"
                id="images"
                name="images"
                accept=".png, .jpg, .jpeg"
                multiple
              />

              <span class="invalid-value" id="imagesError"></span>

            </div>

            <div>
              <input type="submit" id="submit" value="Create" />
            </div>
          </div>
        </form>
      </div>
    </main>
    <%-include('../partials/footer')%>
    <script src="/js/productCreateValidator.js"></script>
  </body>
</html>
