<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/editProduct.css" />
  </head>
  <body>
    <%-include('../partials/header')%>
    <main>
        <div class="form-container">
        <form action="/shop/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="input-container">
  
              <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= product.name %>" required />
              </div>
  
              <div>
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" value="<%= product.price %>" required />
              </div>
  
              <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required><%= product.description %></textarea>
              </div>
  
              <div>
                <label for="category">Category:</label>
                <select id="category" name="category">
                  <option value="" disabled selected>- Select a category -</option>
                  <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= (category.id==product.category_id)?'selected':'' %>><%= category.category_name %></option>
                  <% }) %>
                </select>
              </div>
  
              <div>
                <label for="subcategory">Subcategory:</label>
                <select id="subcategory" name="subcategory">
                  <option value="" disabled selected>- Select a subcategory -</option>
                  <% subcategories.forEach(subcategory => { %>
                    <option value="<%= subcategory.id %>" <%= (subcategory.id==product.subcategory_id)?'selected':'' %>><%= subcategory.subcategory_name %></option>
                  <% }) %>
                </select>
              </div>
              
              <div>
                <label for="brand">Brand:</label>
                <select id="brand" name="brand">
                  <option value="" disabled selected>- Select a brand -</option>
                  <% brands.forEach(brand => { %>
                    <option value="<%= brand.id %>" <%= (brand.id==product.brand_id)?'selected':'' %>><%= brand.brand_name %></option>
                  <% }) %>
                </select>
              </div>
  
              <div>
                <label for="image1">Image 1:</label>
                <input type="file" id="image1" name="images" accept=".png, .jpg, .jpeg" />
              </div>
  
              <div>
                <label for="image2">Image 2:</label>
                <input type="file" id="image2" name="images" accept=".png, .jpg, .jpeg" />
              </div>
  
              <div>
                <label for="image3">Image 3:</label>
                <input type="file" id="image3" name="images" accept=".png, .jpg, .jpeg" />
              </div>
  
              <div>
                <input type="submit" value="Update" />
              </div>
            </div>
          </form>

          <form action="/shop/edit/<%= product.id %>?_method=DELETE" method="POST" id="deleteForm">
            <button type="submit">Delete</button>
          </form>
        </div>
      </main>
    <%-include('../partials/footer')%>
  </body>
</html>
