<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/productPage.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      
      <section>

        <div class="namePreview">
          <p><%= product.name %></p>
        </div>

        <div>

          <div class="mainImage">
            <img src="/images/products/<%= product.img_1 %>" alt="Image of <%= product.name %>">
          </div>

          <div class="miniContainer">
            <div class="miniImage">
              <img src="/images/products/<%= product.img_1 %>" alt="Image of <%= product.name %>">
            </div>

            <div class="miniImage">
              <img src="/images/products/<%= product.img_2 %>" alt="Image of <%= product.name %>">
            </div>

            <div class="miniImage">
              <img src="/images/products/<%= product.img_3 %>" alt="Image of <%= product.name %>">
            </div>
          </div>

        </div>

        <div>
          <h2><%= product.name %></h2>
          <h4>$<%= product.price %></h4>
          
          <div class="prod-size-container">

            <div class="prod-size-header">
              <p>Select size (US)</p>
              <p>Size guide</p>
            </div>

            <div class="prod-size-table">
              <div class="prod-size-box"><p class="box-p">1</p></div>
              <div class="prod-size-box"><p class="box-p">2</p></div>
              <div class="prod-size-box"><p class="box-p">3</p></div>
              <div class="prod-size-box"><p class="box-p">4</p></div>
              <div class="prod-size-box"><p class="box-p">5</p></div>
              <div class="prod-size-box"><p class="box-p">6</p></div>
              <div class="prod-size-box"><p class="box-p">7</p></div>
              <div class="prod-size-box"><p class="box-p">8</p></div>
            </div>
          </div>
          <p>Add to cart</p>
        </div>

      </section>

      <section>
        <div>
          <p><%= product.description %></p>
        </div>
      </section>

      <section>
        <div>
          related products
        </div>
      </section>

    </main>

    <%- include("../partials/footer.ejs") %>
    <script src="/js/prodPage.js"></script>
  </body>
</html>
