<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/shop.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="filter-btn">
        <h4>Filter...</h4>
      </div>

      <div class="product-list">
        <% products.forEach((product) => { %>

        <div class="product-card">
          <a href="/shop/product/<%= product.id%>" class="product-anchor">
            <div class="img-container">
              <img
                src="/images/products/<%= product.img_1 %>"
                alt="Image of <%= product.name %>"
                class="product-img"
              />
            </div>
            <div class="product-info">
              <h4><%= product.name %></h4>
              <p>$<%= product.price %></p>
            </div>
          </a>
        </div>

        <% }) %>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
