<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/shop.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <div class="product-list">
      <% products.forEach((product) => { %>

      <div class="product-card">
        <div>
          <img
            src="/images/products/<%= product.product_images[0].image_url %>.png"
            alt="Image of <%= product.name %>"
            class="product-img"
          />
        </div>
        <h4><%= product.name %></h4>
        <p>$<%= product.price %></p>
      </div>

      <% }) %>
    </div>
  </body>
</html>
