<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/shop.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <div>
      <% products.forEach(product => { %>

      <div class="caja-prod">
        <div>
          <% product.product_images.forEach((productImage) => { %>
          <img
            src="/images/products/<%= productImage.image_url %>.png"
            alt="Image of <%= product.name%>"
          />
          <% }) %>
        </div>
        <h4><%= product.name %></h4>
        <p>$<%= product.price%></p>
      </div>

      <% }) %>
    </div>
  </body>
</html>
