<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <section>
        <form action="/users/edit?_method=PUT" method="POST">
          <label for="email">Email: </label>
          <input type="email" id="email" name="email" value="<%=user.email%>" disabled >

          <label for="username">Username: </label>
          <input
            type="text"
            id="username"
            name="username"
            value="<%=user && user.username ? user.username : '' %>"
          />

          <div>
            <button type="submit">Edit</button>
          </div>
        </form>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
