<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <form action="/users/login" method="POST">
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="<%= locals.oldData && locals.oldData.email ? locals.oldData.email : '' %>"/>
          <% if (locals.errors && errors.email) { %>
          <div class="invalid-value"><%= errors.email.msg %></div>
          <% } %>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>
        <% if (locals.errors && errors.password) { %>
        <div class="invalid-value"><%= errors.password.msg %></div>
        <% } %>
        <div>
          <label for="rememberMe">
            <input type="checkbox" id="rememberMe" name="rememberMe" />
            Remember me
          </label>
        </div>
        <div>
          <input type="submit" value="Login" />
        </div>
      </form>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
