<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <form action="/users/register" method="POST">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= locals.oldData && locals.oldData.email ? locals.oldData.email : '' %>"
          required
        />
        <% if (locals.errors && errors.email) { %>
        <div class="invalid-value"><%= errors.email.msg %></div>
        <% } %>

        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          value="<%= locals.oldData && locals.oldData.username ? locals.oldData.username : '' %>"
          required
        />
        <% if (locals.errors && errors.username) { %>
        <div class="invalid-value"><%= errors.username.msg %></div>
        <% } %>

        <label for="phone">Phone Number:</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          pattern="[0-9]{10}"
          placeholder="Enter a 10-digit phone number"
          value="<%= locals.oldData && locals.oldData.phone ? locals.oldData.phone : '' %>"
        />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <% if (locals.errors && errors.password) { %>
        <div class="invalid-value"><%= errors.password.msg %></div>
        <% } %>

        <button type="submit">Register</button>
      </form>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
