<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <form action="/users/register" method="POST">
        <% if(locals && locals.errorMsg){for(error in errorMsg){%>
        <p><%= errorMsg[error].msg %></p>
        <% }}%>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= locals.oldData && locals.oldData.email ? locals.oldData.email : '' %>"
        />

        <label for="phone">Phone Number:</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          pattern="[0-9]{10}"
          placeholder="Enter a 10-digit phone number"
          value="<%= locals.oldData && locals.oldData.phone ? locals.oldData.phone : '' %>"
        />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />

        <button type="submit">Register</button>
      </form>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
